<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>

  <title></title>
</head>
<body>
<a href="/">Home</a>
  <% if logged_in? %>
    <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>
    <a href="/users/<%= current_user.id %>"><%= current_user.first_name %></a>
  <% else %>
    <a href="/users/new">Register</a>
    <a href="/login">Log In</a>
    <% end %>
  <%= yield %>
</body>
</html>
